body {
    font-family: 'Pontano Sans', sans-serif;
    margin: 0px;

}


section {
    background-color: white;

}

.hero {
    background-color: rgb(52, 70, 21);
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: rgb(179, 124, 23);
    color: white;
    text-align: center;
    padding: 80px;

}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;

}


li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;

}


p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    color: black;
    padding-left: 10px;
    padding-right: 10px;

}

.subtext {
    font-size: 15px;
    font-weight: 300;
    text-align: center;

}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    margin-bottom: 200px;
    margin-left: 80px
}

button {
    border-radius: 40px;
    background-color: orangered;
}

button:hover {
    background-color: gainsboro;

}

button:active {
    background-color: green;
    color: orangered;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    margin: 30px;
    height: 300px;
    padding-top: 30px;
}

.social {
    margin: 20px;

}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;

}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;

}

.headshot {
    width: 400px;

}

.headshot-container {
    display: flex;
    align-items: center;

}
/*beginning of skill cards*/
.skill-card {
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
    padding-left: 10px;
    background-color: azure;
}


.skill-container {
    display: flex;
    justify-content: space-around;
}

/*end of skill cards*/

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
    padding: 20px;
}


.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;

}

hr {
    margin-left: 20px;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: rgb(43, 31, 31);

}


/*beginning of counter*/

#myCountdown{
    padding-bottom: 70px;
}


.until{
  margin: 25px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    background: blueviolet;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    font-size: larger;
    
    
}

.until__component {
    text-align: center;
    background: white;
    border-radius: 5px;
    color: black;
}

.until__numeric {
    color: black;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: bold;
}

.until__unit{
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: darkred;
}

.until__event{
    grid-column: span 4;
}

@media only screen and (max-width: 1000px) {

}