body {
    font-family: 'Pontano Sans', sans-serif;

}


section {
    background-color: white;
    
}

.hero {
    background-color: lightsteelblue;
    font-size: 40px;
    height: 100vh;
    color: black
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;

}

li {
    text-decoration: none;
}

h2 {
    font-size: 90px;
    margin: 0;
}

h2 {
font-size: 50px;

}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;

}

.subtext {
    font-size: 15px;
    font-weight: 300;

}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    margin-bottom: 200px;
    margin-left: 80px
}

button {
    border-radius: 40px;
    background-color: lightgrey
}

button:hover {
    background-color: lightskyblue;

}

button:active {
    background-color: gray;
    color: lightgray;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    margin: 30px;
    height: 300px;
    padding-top: 30px;
}

.social {
    margin-right: 20px;
    
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;

}
.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;

}

.headshot {
    width: 400px;
    
}
.headshot-container {
    display:flex;
    align-items: center;

}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
}

.project-container{
    display: flex;
    justify-content: space-around;
}
